/*------------ scrollbar ----------*/
::-webkit-scrollbar {
width:6px
}
::-webkit-scrollbar-thumb {
border-radius:8px;
background:rgba(0,0,0,0.2)
}
::-webkit-scrollbar-thumb:window-inactive {
background:rgba(0,0,0,0.1)
}
::-webkit-scrollbar-thumb:vertical:hover {
background-color:rgba(0,0,0,0.3)
}
::-webkit-scrollbar-thumb:vertical:active {
background-color:rgba(0,0,0,0.7)
}
/*------------------ Fluidity response ------------------------------*/
img, canvas, iframe, video, svg { max-width: 100%; height: auto }
/*reset*/
.media img { max-width: inherit }
.h1, .h2, .h3, .h4, .h5, .h6 { margin: 0; }
/*------------------ clear ------------------------------*/
.clear { height: 0; font-size: 0; line-height: 0; overflow: hidden; clear: both; }
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: ""; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1;
}
/*pull*/
.pull-in { margin-left: 15px; margin-right: 15px; }
.pull-out { margin: -10px -15px; }
/*other*/
.clickable { cursor: pointer }
.scrollable { overflow-x: hidden; overflow-y: auto; }
/*transform*/
.transform-no { -ms-transform: none!important; -webkit-transform: none!important; -o-transform: none!important; -moz-transform: none!important; transform: none!important; }
/*css shadow*/
.shadow-box { -moz-box-shadow: 0 0 12px rgba(171,139,110,.38); -webkit-box-shadow: 0 0 12px rgba(171,139,110,.38); box-shadow: 0 0 12px rgba(171,139,110,.38); }
.shadow-no { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.shadow-hover:hover { -moz-box-shadow: 0 0 12px rgba(171,139,110,.38); -webkit-box-shadow: 0 0 12px rgba(171,139,110,.38); box-shadow: 0 0 12px rgba(171,139,110,.38); }
/*----------------------------------------------------
 * color
 *---------------------------------------------------*/
/*text-white*/
.text-white { color: #fff!important; }
.text-white a:hover, .text-white a:hover i, .text-white:hover { color: rgba(256,256,256,0.8); }
.text-white a.list-group-item.active i { color: #fff; }
.text-white .accordion-list p { font-size: 12px; height: 84px; line-height: 21px; color: rgba(256,256,256,0.8); }
/*color*/
.color { color: #f6f6f6 }
.color-main { color: #0a8 }
.color-sub { color: #00AAEE }
.color-light { color: #fafafa }
.color-black { color: #23282d }
.color-white { color: #FFF }
.color-primary { color: #367AB7 }
.color-primary-light { color: #5494D2 }
.color-primary-dark { color: #03619B }
.color-success { color: #479D47 }
.color-success-light { color: #5FB95E }
.color-success-dark { color: #25832F }
.color-info { color: #34B0D5 }
.color-info-light { color: #55CBF0 }
.color-info-dark { color: #0094B8 }
.color-warning { color: #EC971F }
.color-warning-light { color: #FFB241 }
.color-warning-dark { color: #CD7C00 }
.color-danger { color: #C9322E }
.color-danger-light { color: #E95046 }
.color-danger-dark { color: #AA0016 }
/*background-color*/ 
.bg-no { background: none!important; }
.bg-alpha { background-color: transparent!important }
.bg-inverse, .bg-inverse a { color: #fff; }
.btn.bg-inverse:hover, .btn.bg-inverse:focus, .btn.bg-inverse.focus{color:rgba(255,255,255,0.8)}
.bg { background-color: #f6f6f6 }
.bg-main { background-color: #00AA88 }
.bg-sub { background-color: #00AAEE }
.bg-light { background-color: #fafafa }
.bg-black { background-color: #23282d }
.bg-white { background-color: #FFF }
.bg-primary { background-color: #367AB7 }
.bg-primary-light { background-color: #5494D2 }
.bg-primary-dark { background-color: #03619B }
.bg-success { background-color: #479D47 }
.bg-success-light { background-color: #5FB95E }
.bg-success-dark { background-color: #25832F }
.bg-info { background-color: #34B0D5 }
.bg-info-light { background-color: #55CBF0 }
.bg-info-dark { background-color: #0094B8 }
.bg-warning { background-color: #EC971F }
.bg-warning-light { background-color: #FFB241 }
.bg-warning-dark { background-color: #CD7C00 }
.bg-danger { background-color: #C9322E }
.bg-danger-light { background-color: #E95046 }
.bg-danger-dark { background-color: #AA0016 }
/*----------------------------------------------------
 * z-index
 *---------------------------------------------------*/
.z-no { z-index: inherit }
.z1 { z-index: 1 }
.z2 { z-index: 2 }
.z3 { z-index: 3 }
.z4 { z-index: 4 }
.zmin { z-index: -1 }
.zmax { z-index: 999 }
/*----------------------------------------------------
 * margin
 *---------------------------------------------------*/
/* All */
.m { margin: 5px!important; }
.m-no { margin: 0!important; }
.m-0x { margin: 10px !important; }
.m-1x { margin: 15px !important; }
.m-2x { margin: 20px !important; }
.m-3x { margin: 30px !important; }
.m-4x { margin: 60px !important; }
.m-5x { margin: 100px !important; }
/* Vertical */
.mv { margin-top: 5px !important; margin-bottom: 5px !important; }
.mv-no { margin-top: 0 !important; margin-bottom: 0 !important; }
.mv-0x { margin-top: 10px !important; margin-bottom: 10px !important; }
.mv-1x { margin-top: 15px !important; margin-bottom: 15px !important; }
.mv-2x { margin-top: 20px !important; margin-bottom: 20px !important; }
.mv-3x { margin-top: 30px !important; margin-bottom: 30px !important; }
.mv-4x { margin-top: 60px !important; margin-bottom: 60px !important; }
.mv-5x { margin-top: 100px !important; margin-bottom: 100px !important; }
/* Horizontal */
.mh { margin-left: 5px !important; margin-right: 5px !important; }
.mh-no { margin-left: 0 !important; margin-right: 0 !important; }
.mh-0x { margin-left: 10px !important; margin-right: 10px !important; }
.mh-1x { margin-left: 15px !important; margin-right: 15px !important; }
.mh-2x { margin-left: 20px !important; margin-right: 20px !important; }
.mh-3x { margin-left: 30px !important; margin-right: 30px !important; }
.mh-4x { margin-left: 60px !important; margin-right: 60px !important; }
.mh-5x { margin-left: 100px !important; margin-right: 100px !important; }
/* margin Top */
.mt { margin-top: 5px!important; }
.mt-no { margin-top: 0!important; }
.mt-0x { margin-top: 10px !important; }
.mt-1x { margin-top: 15px !important; }
.mt-2x { margin-top: 20px !important; }
.mt-3x { margin-top: 30px !important; }
.mt-4x { margin-top: 60px !important; }
.mt-5x { margin-top: 100px !important; }
.mt-n { margin-top: -5px!important; }
.mt-n-0x { margin-top: -10px !important; }
.mt-n-1x { margin-top: -15px !important; }
.mt-n-2x { margin-top: -20px !important; }
.mt-n-3x { margin-top: -30px !important; }
.mt-n-4x { margin-top: -60px !important; }
.mt-n-5x { margin-top: -100px !important; }
/* margin Bottom */
.mb { margin-bottom: 5px!important; }
.mb-no { margin-bottom: 0!important; }
.mb-0x { margin-bottom: 10px !important; }
.mb-1x { margin-bottom: 15px !important; }
.mb-2x { margin-bottom: 20px !important; }
.mb-3x { margin-bottom: 30px !important; }
.mb-4x { margin-bottom: 60px !important; }
.mb-5x { margin-bottom: 100px !important; }
.mb-n { margin-bottom: -5px!important; }
.mb-n-0x { margin-bottom: -10px !important; }
.mb-n-1x { margin-bottom: -15px !important; }
.mb-n-2x { margin-bottom: -20px !important; }
.mb-n-3x { margin-bottom: -30px !important; }
.mb-n-4x { margin-bottom: -60px !important; }
.mb-n-5x { margin-bottom: -100px !important; }
/* margin left */
.ml { margin-left: 5px!important; }
.ml-no { margin-left: 0!important; }
.ml-0x { margin-left: 10px !important; }
.ml-1x { margin-left: 15px !important; }
.ml-2x { margin-left: 20px !important; }
.ml-3x { margin-left: 30px !important; }
.ml-4x { margin-left: 60px !important; }
.ml-5x { margin-left: 100px !important; }
.ml-n { margin-left: -5px!important; }
.ml-n-0x { margin-left: -10px !important; }
.ml-n-1x { margin-left: -15px !important; }
.ml-n-2x { margin-left: -20px !important; }
.ml-n-3x { margin-left: -30px !important; }
.ml-n-4x { margin-left: -60px !important; }
.ml-n-5x { margin-left: -100px !important; }
/* margin right */
.mr { margin-right: 5px!important; }
.mr-no { margin-right: 0!important; }
.mr-0x { margin-right: 10px !important; }
.mr-1x { margin-right: 15px !important; }
.mr-2x { margin-right: 20px !important; }
.mr-3x { margin-right: 30px !important; }
.mr-4x { margin-right: 60px !important; }
.mr-5x { margin-right: 100px !important; }
.mr-n { margin-right: -5px!important; }
.mr-n-0x { margin-right: -10px !important; }
.mr-n-1x { margin-right: -15px !important; }
.mr-n-2x { margin-right: -20px !important; }
.mr-n-3x { margin-right: -30px !important; }
.mr-n-4x { margin-right: -60px !important; }
.mr-n-5x { margin-right: -100px !important; }
/*----------------------------------------------------
 * padding
 *---------------------------------------------------*/
/* All */
.p { padding: 5px!important; }
.p-no { padding: 0!important; }
.p-0x { padding: 10px !important; }
.p-1x { padding: 15px !important; }
.p-2x { padding: 20px !important; }
.p-3x { padding: 30px !important; }
.p-4x { padding: 60px !important; }
.p-5x { padding: 100px !important; }
/* Vertical */
.pv { padding-top: 5px !important; padding-bottom: 5px !important; }
.pv-no { padding-top: 0 !important; padding-bottom: 0 !important; }
.pv-0x { padding-top: 10px !important; padding-bottom: 10px !important; }
.pv-1x { padding-top: 15px !important; padding-bottom: 15px !important; }
.pv-2x { padding-top: 20px !important; padding-bottom: 20px !important; }
.pv-3x { padding-top: 30px !important; padding-bottom: 30px !important; }
.pv-4x { padding-top: 60px !important; padding-bottom: 60px !important; }
.pv-5x { padding-top: 100px !important; padding-bottom: 100px !important; }
/* Horizontal */
.ph { padding-left: 5px !important; padding-right: 5px !important; }
.ph-no { padding-left: 0 !important; padding-right: 0 !important; }
.ph-0x { padding-left: 10px !important; padding-right: 10px !important; }
.ph-1x { padding-left: 15px !important; padding-right: 15px !important; }
.ph-2x { padding-left: 20px !important; padding-right: 20px !important; }
.ph-3x { padding-left: 30px !important; padding-right: 30px !important; }
.ph-4x { padding-left: 60px !important; padding-right: 60px !important; }
.ph-5x { padding-left: 100px !important; padding-right: 100px !important; }
/* padding Top */
.pt { padding-top: 5px!important; }
.pt-no { padding-top: 0!important; }
.pt-0x { padding-top: 10px !important; }
.pt-1x { padding-top: 15px !important; }
.pt-2x { padding-top: 20px !important; }
.pt-3x { padding-top: 30px !important; }
.pt-4x { padding-top: 60px !important; }
.pt-5x { padding-top: 100px !important; }
.pt-n { padding-top: -5px!important; }
.pt-n-0x { padding-top: -10px !important; }
.pt-n-1x { padding-top: -15px !important; }
.pt-n-2x { padding-top: -20px !important; }
.pt-n-3x { padding-top: -30px !important; }
.pt-n-4x { padding-top: -60px !important; }
.pt-n-5x { padding-top: -100px !important; }
/* padding Bottom */
.pb { padding-bottom: 5px!important; }
.pb-no { padding-bottom: 0!important; }
.pb-0x { padding-bottom: 10px !important; }
.pb-1x { padding-bottom: 15px !important; }
.pb-2x { padding-bottom: 20px !important; }
.pb-3x { padding-bottom: 30px !important; }
.pb-4x { padding-bottom: 60px !important; }
.pb-5x { padding-bottom: 100px !important; }
.pb-n { padding-bottom: -5px!important; }
.pb-n-0x { padding-bottom: -10px !important; }
.pb-n-1x { padding-bottom: -15px !important; }
.pb-n-2x { padding-bottom: -20px !important; }
.pb-n-3x { padding-bottom: -30px !important; }
.pb-n-4x { padding-bottom: -60px !important; }
.pb-n-5x { padding-bottom: -100px !important; }
/* padding left */
.pl { padding-left: 5px!important; }
.pl-no { padding-left: 0!important; }
.pl-0x { padding-left: 10px !important; }
.pl-1x { padding-left: 15px !important; }
.pl-2x { padding-left: 20px !important; }
.pl-3x { padding-left: 30px !important; }
.pl-4x { padding-left: 60px !important; }
.pl-5x { padding-left: 100px !important; }
.pl-n { padding-left: -5px!important; }
.pl-n-0x { padding-left: -10px !important; }
.pl-n-1x { padding-left: -15px !important; }
.pl-n-2x { padding-left: -20px !important; }
.pl-n-3x { padding-left: -30px !important; }
.pl-n-4x { padding-left: -60px !important; }
.pl-n-5x { padding-left: -100px !important; }
/* padding right */
.pr { padding-right: 5px!important; }
.pr-no { padding-right: 0!important; }
.pr-0x { padding-right: 10px !important; }
.pr-1x { padding-right: 15px !important; }
.pr-2x { padding-right: 20px !important; }
.pr-3x { padding-right: 30px !important; }
.pr-4x { padding-right: 60px !important; }
.pr-5x { padding-right: 100px !important; }
.pr-n { padding-right: -5px!important; }
.pr-n-0x { padding-right: -10px !important; }
.pr-n-1x { padding-right: -15px !important; }
.pr-n-2x { padding-right: -20px !important; }
.pr-n-3x { padding-right: -30px !important; }
.pr-n-4x { padding-right: -60px !important; }
.pr-n-5x { padding-right: -100px !important; }
/*----------------------------------------------------
 * border
 *---------------------------------------------------*/
.b-ss { border-width: 2px !important; }
.b-xs { border-width: 3px !important; }
.b-sm { border-width: 5px !important; }
.b-md { border-width: 10px !important; }
.b-lg { border-width: 15px !important; }
.b-xl { border-width: 20px !important; }
.b-sl { border-width: 30px !important; }
.b-no { border: none!important; }
.bl-no { border-left: none!important; }
.br-no { border-right: none!important; }
.bt-no { border-top: none!important; }
.bb-no { border-bottom: none!important; }
.b-alpha { border-color: transparent!important; }
.b { border: 1px solid #ddd; }
.bt { border-top: 1px solid #ddd!important; }
.br { border-right: 1px solid #ddd!important; }
.bb { border-bottom: 1px solid #ddd!important; }
.bl { border-left: 1px solid #ddd!important; }
.b-dashed { border-style: dashed !important; }
.b-dotted { border-style: dotted!important; }
.b-double { border-style: double!important; }
.b-inset { border-style: inset!important; }
.b-outset { border-style: outset!important; }
/*border-color*/
.b-main { border-color: #00AA88!important }
.b-sub { border-color: #00AAEE!important }
.b-light { border-color: #eaeaea!important }
.b-black { border-color: #23282d!important }
.b-white { border-color: #FFF!important }
.b-primary { border-color: #367AB7!important }
.b-primary-light { border-color: #5494D2!important }
.b-primary-dark { border-color: #03619B!important }
.b-success { border-color: #479D47!important }
.b-success-light { border-color: #5FB95E!important }
.b-success-dark { border-color: #25832F!important }
.b-info { border-color: #34B0D5!important }
.b-info-light { border-color: #55CBF0!important }
.b-info-dark { border-color: #0094B8!important }
.b-warning { border-color: #EC971F!important }
.b-warning-light { border-color: #FFB241!important }
.b-warning-dark { border-color: #CD7C00!important }
.b-danger { border-color: #C9322E!important }
.b-danger-light { border-color: #E95046!important }
.b-danger-dark { border-color: #AA0016!important }
/*----------------------------------------------------
 * border-radius
 *---------------------------------------------------*/ 
/*----------------------css border-radius----------------*/
.r { -moz-border-radius: 2px!important; -webkit-border-radius: 2px!important; border-radius: 2px!important; overflow: hidden }
.r-ss { -moz-border-radius: 4px!important; -webkit-border-radius: 4px!important; border-radius: 4px!important; overflow: hidden }
.r-xs { -moz-border-radius: 6px!important; -webkit-border-radius: 6px!important; border-radius: 6px!important; overflow: hidden }
.r-sm { -moz-border-radius: 10px!important; -webkit-border-radius: 10px!important; border-radius: 10px!important; overflow: hidden }
.r-md { -moz-border-radius: 16px!important; -webkit-border-radius: 16px!important; border-radius: 16px!important; overflow: hidden }
.r-lg { -moz-border-radius: 32px!important; -webkit-border-radius: 32px!important; border-radius: 32px!important; overflow: hidden }
.r-xl { -moz-border-radius: 48px!important; -webkit-border-radius: 48px!important; border-radius: 48px!important; overflow: hidden }
.r-sl { -moz-border-radius: 64px!important; -webkit-border-radius: 64px!important; border-radius: 64px!important; overflow: hidden }
.r-rounded { -moz-border-radius: 2em!important; -webkit-border-radius: 2em!important; border-radius: 2em!important; padding-left: 1em; padding-right: 1em; overflow: hidden }
.r-circle { -moz-border-radius: 50%!important; -webkit-border-radius: 50%!important; border-radius: 50%!important; overflow: hidden }
.r-no { -moz-border-radius: 0!important; -webkit-border-radius: 0!important; border-radius: 0!important; }
.r-tl-no { -moz-border-radius-topleft: 0!important; -webkit-border-top-left-radius: 0!important; border-top-left-radius: 0!important; }
.r-bl-no { -moz-border-radius-bottomleft: 0!important; -webkit-border-bottom-left-radius: 0!important; border-bottom-left-radius: 0!important; }
.r-tr-no { -moz-border-radius-topright: 0!important; -webkit-border-top-right-radius: 0!important; border-top-right-radius: 0!important; }
.r-br-no { -moz-border-radius-bottomright: 0!important; -webkit-border-bottom-right-radius: 0!important; border-bottom-right-radius: 0!important; }
/*----------------------------------------------------
 * position
 *---------------------------------------------------*/
.fixed { /*position: fixed*/ }
.abs { position: absolute }
.relative { position: relative }
.static { position: static }
/*------------------- fixed --------------------*/
.fixed-left { position: fixed; left: 0; top: 0; bottom: 0; }
.fixed-right { position: fixed; right: 0; top: 0; bottom: 0; }
.fixed-top { position: fixed; left: 0; right: 0; top: 0; }
.fixed-bottom { position: fixed; left: 0; right: 0; bottom: 0; }
/*------------------- absolute -----------------------------*/
.abs-left { position: absolute; left: 0; top: 0; bottom: 0; width: 100% }
.abs-right { position: absolute; right: 0; top: 0; bottom: 0; width: 100% }
.abs-top { position: absolute; left: 0; right: 0; top: 0; width: 100% }
.abs-bottom { position: absolute; left: 0; right: 0; bottom: 0; width: 100% }
/*----------------------------------------------------
 * display
 *---------------------------------------------------*/
.ds-block { display: block!important }
.ds-table { display: table-cell!important }
/*vertical-align*/
.va-top { vertical-align: top!important; }
.va-md { vertical-align: middle!important; }
/*align-self*/
.as-center { -webkit-align-self: center!important; align-self: center!important; }
.ai-top { -webkit-box-align: start!important; -webkit-align-items: flex-start!important; align-items: flex-start!important; }
.ai-center { -webkit-box-align: center!important; -webkit-align-items: center!important; align-items: center!important; }
/*----------------------------------------------------
 * width and height
 *---------------------------------------------------*/
.w-auto { width: auto!important }
.w-full, .w-full img { width: 100%!important;max-width: 100%!important }
/*min width*/
.mwidth-sl { min-width: 576px; display: inline-block }
.mwidth-xl { min-width: 400px; display: inline-block }
.mwidth-lg { min-width: 320px; display: inline-block }
.mwidth-md { min-width: 240px; display: inline-block }
.mwidth-sm { min-width: 144px; display: inline-block }
.mwidth-xs { min-width: 96px; display: inline-block }
.mwidth-ss { min-width: 48px; display: inline-block }
.mwidth-no { min-width: inherit }
/*min height*/
.mheight-sl { min-height: 576px }
.mheight-xl { min-height: 400px }
.mheight-lg { min-height: 320px; }
.mheight-md { min-height: 240px }
.mheight-sm { min-height: 144px }
.mheight-xs { min-height: 96px }
.mheight-ss { min-height: 48px }
.mheight-no { min-height: inherit }
/*----------------------------------------------------
 * text
 *---------------------------------------------------*/
/*font size*/
.fs-sl { font-size: 100px; }
.fs-xl { font-size: 60px; }
.fs-lg { font-size: 48px; }
.fs-md { font-size: 32px; }
.fs-sm { font-size: 24px; }
.fs-xs { font-size: 16px; }
.fs-ss { font-size: 12px; }
.fs { font-size: 14px; }
/*text line height*/
.lh-sl { line-height: 100px; }
.lh-xl { line-height: 60px; }
.lh-lg { line-height: 48px; }
.lh-md { line-height: 32px; }
.lh { line-height: 24px; }
.lh-sm { line-height: 20px; }
.lh-xs { line-height: 18px; }
.lh-ss { line-height: 16px; }
/*font weight*/
.font-normal { font-weight: normal; }
.font-thin { font-weight: 300; }
.font-bold { font-weight: 700; }
/*-----------------   css text    --------------------*/
.text-break { word-break: break-all !important; word-wrap: break-word !important; }
.text-undecorate { text-decoration: none !important; }
.text-underline { text-decoration: underline !important; }
.text-through { text-decoration: line-through!important; }
.text-sub { vertical-align: sub!important;/*下标字*/ }
.text-super { vertical-align: super!important; /*上标字*/ }
.text-indent, .text-indent p, .text-indent div { text-indent: 2em;/*缩进*/ }
/*text wrap*/
.text-nowrap { /*display: block;*/ max-width: 100%; overflow: hidden !important; text-overflow: ellipsis !important; white-space: nowrap !important; word-wrap: normal !important; -moz-binding: url('ellipsis.xml'); /*兼容火狐浏览器*/ }
.text-nowrap-1x { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1; -webkit-box-flex: 1; height: inherit; }
.text-nowrap-2x { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
.text-nowrap-3x { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 3; }
.text-nowrap-4x { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 4; }
.text-nowrap-5x { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 5; }
/*----------------------------------------------------
 * thumb
 *---------------------------------------------------*/
.thumb { width: 256px; display: inline-block; }
.thumb-ss { width: 32px; display: inline-block; }
.thumb-xs { width: 48px; display: inline-block; }
.thumb-sm { width: 64px; display: inline-block; }
.thumb-md { width: 96px; display: inline-block; }
.thumb-lg { width: 128px; display: inline-block; }
.thumb-xl { width: 192px; display: inline-block; }
.thumb-sl { width: 320px; display: inline-block; }
.thumb-wrapper { padding: 2px; border: 1px solid #dbe2e7; }
.thumb img, .thumb-ss img, .thumb-xs img, .thumb-sm img, .thumb-md img, .thumb-lg img, .thumb-xl img, .thumb-sl img, .thumb-btn img { height: auto; max-width: 100%; vertical-align: middle; }
/*----------------------------------------------------
 * img hover style
 *---------------------------------------------------*/
/*img gray*/
img.img-gray,.img-gray img { -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; }
img.img-gray:hover,.img-gray:hover img { -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); -o-filter: grayscale(0); filter: grayscale(0); }
/*img-rotate*/
img.img-rotate,.img-rotate img { padding: 5px; border: 1px #fff solid; -moz-transition: -moz-transform 0.3s ease; -webkit-transition: -webkit-transform 0.3s ease; transition: transform 0.3s ease; }
img.img-rotate:hover,.img-rotate:hover img { transform: rotate(360deg); -ms-transform: rotate(360deg); /* IE 9 */ -moz-transform: rotate(360deg); /* Firefox */ -webkit-transform: rotate(360deg); /* Safari and Chrome */ -o-transform: rotate(360deg); /* Opera */ }
img.img-burn,.img-burn img { position: relative; -webkit-transition: all 0.8s ease-in-out; -moz-transition: all 0.8s ease-in-out; -o-transition: all 0.8s ease-in-out; -ms-transition: all 0.8s ease-in-out; transition: all 0.8s ease-in-out; }
img.img-burn:hover,.img-burn:hover img { -webkit-transform: scale(1.2) rotate(2deg); -moz-transform: scale(1.2) rotate(2deg); -o-transform: scale(1.2) rotate(2deg); -ms-transform: scale(1.2) rotate(2deg); transform: scale(1.2) rotate(2deg); }
img.hover-up,.hover-up img{position:relative;top:0;-webkit-transition:top .3s ease-out;-moz-transition:top .3s ease-out;-o-transition:top .3s ease-out;transition:top .3s ease-out}
img.hover-up:hover,.hover-up:hover img{top:-6px}

